body
{
  background: linear-gradient(180deg, #E4C2FF, #FFFFFF);
  background-repeat: no-repeat;
}
 
.filter-label-selected
{
  font-weight: bold;
  background-color: #c1cf19;
  color: #FFFFFF;
  PADDING-TOP: 7PX;
  PADDING-BOTTOM: 7PX;
  PADDING-LEFT: 12PX;
  PADDING-RIGHT: 12PX;
  BORDER-RADIUS: 20PX;
}

 
.subHeading
{
 text-align: center; 
 font-style: normal;
}
 
.listStyle
{
  list-style-type: none;
}

.filterContainer
{
 text-align: center;

 font-size: large;
}

.listItemStyle
{
background-color: #FFFFFF;
border-radius: 4px;
padding: 16px;
margin: 10px;
box-shadow: 5px 5px a1;
}